gradio >= 3.45.1
tensorflow >= 2.13.0
text_hammer >= 0.1.5
transformers >= 4.33.3
spacy == 3.6.1
scikit-learn >= 1.2.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz